*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
Tool/libs/
Tool/src/main/java/gongtong/tool/lib/lint/lintpath/
Tool/src/main/res/drawable/
sample/libs/
